fire
numpy
wandb
einops
deepspeed
# peft -- don't install this one, need to do the special github one for now
bitsandbytes
scipy
torch ~= 2.0.1
accelerate~=0.20.0
transformers~=4.30.1
datasets~=2.12.0